.App {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-max-size: 25px;
  font-style: italic;
  font-family: "Times New Roman";
  color: aqua;
  padding-left: 10px;
  padding-top: 10px;
}

